.App {
  text-align: center;
}

body {
  font: normal 14px/100% 'Andale Mono', AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #374954;
  text-align: center;
}

.time-wrapper {
  position: relative;
}

.break-wrapper {
  position: absolute;
  left: 80px;
  margin-top: 88px;
}

.session-wrapper {
  position: absolute;
  right: 80px;
  margin-top: -210px;
}

#time-left {
  font-size: 100px;
}

.session-label {
  font-size: 30px;
  margin-right: 13px;
}

.break-label {
  font-size: 30px;
  margin-left: 13px;
}

.start-button {
  display: inline-block;
  background-color: #da480e;
  border-radius: 20px;
  border: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  size: 50px;
  cursor: pointer;
  outline: none;
}

#reset {
  display: inline-block;
  background-color: #e6794e;
  border-radius: 20px;
  border: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  size: 25px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}

#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  background-color: #374954;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  size: 30px;
  cursor: pointer;
  margin-top: -20px;
  outline: none;
  border: none;
  margin-left: 15px;
  float: left;
}

.plus-minus-buttons-session {
  margin-left: 18px;
}

#break-length,
#session-length {
  margin-top: 15px;
  font-size: 30px;
}
